html {
	background-color: #1f1f1f;
}
#header {
	text-align: center;
	line-height: 10px;
}
#titlebreak {
	line-height: 12px;
}
h1 {
	color: #e0e0e0;
}
h2 {
	color: #e0e0e0;
}
#content {
	text-align: left;
	margin-left: 25px;
	margin-right: 25px;
	line-height: 15px;
}
p {
	color: #e0e0e0;
}
#contentbreak {
	line-height: 10px;
}
#links {
	text-align: center;
	line-height: 12px;
}
#links p {
	font-size: 24px;
}
a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	text-decoration: underline;
}
#linkinfo {
	text-align: center;
	line-height: 7px;
}
#linkinfo p {
	font-size: 13px;
}
#footnote {
	position: fixed;
	bottom: 5px;
	width: 100%
}
#footnote p {
	text-align: center;
	line-height: 6px;
}