html {
	background-color: #1f1f1f;
}
@font-face {
    font-family: 'SourceCodePro';
    src: url('/fonts/SourceCodePro-Bold.woff2?v=2') format('woff2'),
        url('/fonts/SourceCodePro-Bold.woff?v=2') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SourceCodePro';
    src: url('/fonts/SourceCodePro-ExtraLightIt.woff2?v=2') format('woff2'),
        url('/fonts/SourceCodePro-ExtraLightIt.woff?v=2') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'SourceCodePro';
    src: url('/fonts/SourceCodePro-Black.woff2?v=2') format('woff2'),
        url('/fonts/SourceCodePro-Black.woff?v=2') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SourceCodePro';
    src: url('/fonts/SourceCodePro-BoldIt.woff2?v=2') format('woff2'),
        url('/fonts/SourceCodePro-BoldIt.woff?v=2') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'SourceCodePro';
    src: url('/fonts/SourceCodePro-BlackIt.woff2?v=2') format('woff2'),
        url('/fonts/SourceCodePro-BlackIt.woff?v=2') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'SourceCodePro';
    src: url('/fonts/SourceCodePro-ExtraLight.woff2?v=2') format('woff2'),
        url('/fonts/SourceCodePro-ExtraLight.woff?v=2') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SourceCodePro';
    src: url('/fonts/SourceCodePro-It.woff2?v=2') format('woff2'),
        url('/fonts/SourceCodePro-It.woff?v=2') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'SourceCodePro';
    src: url('/fonts/SourceCodePro-Medium.woff2?v=2') format('woff2'),
        url('/fonts/SourceCodePro-Medium.woff?v=2') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SourceCodePro';
    src: url('/fonts/SourceCodePro-LightIt.woff2?v=2') format('woff2'),
        url('/fonts/SourceCodePro-LightIt.woff?v=2') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'SourceCodePro';
    src: url('/fonts/SourceCodePro-Light.woff2?v=2') format('woff2'),
        url('/fonts/SourceCodePro-Light.woff?v=2') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SourceCodePro';
    src: url('/fonts/SourceCodePro-MediumIt.woff2?v=2') format('woff2'),
        url('/fonts/SourceCodePro-MediumIt.woff?v=2') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'SourceCodePro';
    src: url('/fonts/SourceCodePro-SemiboldIt.woff2?v=2') format('woff2'),
        url('/fonts/SourceCodePro-SemiboldIt.woff?v=2') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'SourceCodePro';
    src: url('/fonts/SourceCodePro-Semibold.woff2?v=2') format('woff2'),
        url('/fonts/SourceCodePro-Semibold.woff?v=2') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SourceCodePro';
    src: url('/fonts/SourceCodePro-Regular.woff2?v=2') format('woff2'),
        url('/fonts/SourceCodePro-Regular.woff?v=2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
#header {
	text-align: center;
	line-height: 10px;
}
#titlebreak {
	line-height: 12px;
}
h1 {
	font-family: SourceCodePro;
	color: #e0e0e0;
}
h2 {
	font-family: SourceCodePro;
	color: #e0e0e0;
}
#content {
	text-align: left;
	margin-left: 25px;
	margin-right: 25px;
	line-height: 15px;
}
p {
	font-family: SourceCodePro;
	color: #e0e0e0;
}
#contentbreak {
	line-height: 10px;
}
#links {
	text-align: center;
	line-height: 12px;
}
#links p {
	font-size: 24px;
}
a {
	font-family: inherit;
	text-decoration: none;
	color: #cfcfcf;
}
a:hover {
	text-decoration: underline;
}
#linkinfo {
	text-align: center;
	line-height: 7px;
}
#linkinfo p {
	font-size: 13px;
	color: #8f8f8f;
}
#footnote {
	position: fixed;
	bottom: 5px;
	width: 100%
}
#footnote p {
	text-align: center;
	line-height: 6px;
}